

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
page-choosloc {

  #map2 {
    height: 100%;
    z-index:1;
    width: 100%;
  }



  .map2 {
    height: 100%;
    z-index: 5;


    width: 100%;
  }




}
