page-about {

}
.ion-title{
  color: #4c9eee;
}


.ion-card{
  width: 100%;

}
ion-content{
  padding: 5px;
}

.sebm-google-map-container {
  height: 100%;
}
.ion-avatar{
  height: 20px;
  width: 20px;
}
.as{
  height: 30px;
  width: 30px;
  border-radius:30px;
}

.sebm-google-map-marker{
  height: 30px;
  width: 30px;
  border-radius:30px;

}
#se{
  height: 100px;
  opacity: 0.1;
  width: 100px;
  border-radius:30px;

}
