

<ion-content>


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      on-refresh="doRefresh()"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet" mode="ios"  style="width:80%; margin-left: 10%; "  >

      <ion-segment-button value="puppies">
        <ion-icon name="heart"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="ducklings">
        <ion-icon name="qr-scanner"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="pet">
    <ion-list
      *ngSwitchCase="'puppies'">
      <ion-item  *ngFor="let itemss of favouritedata"  (click)="goto(itemss.email)"  >

        <ion-avatar item-left >
          <img  style="margin-top:0px;" [src]="itemss.profileimage">
        </ion-avatar>

        <h2 >{{itemss.name}}</h2>
        <p>{{itemss.catagory}}</p>




      </ion-item>

    </ion-list>



    <ion-list *ngSwitchCase="'ducklings'">

      <ion-item  *ngFor="let itemss of favi"   >

        <ion-avatar item-left >
          <img  style="margin-top:0px;" [src]="itemss.profileimage">
        </ion-avatar>

        <h2 >{{itemss.name}}</h2>
        <p>{{itemss.catagory}}</p>


        <div item-right>
          <ion-row >
            <button ion-button icon-right clear small (click)="goto(itemss.email)" >
              <ion-icon name="arrow-forward"  color="primary"></ion-icon>
            </button>

            <button ion-button icon-right clear small (click)="showConfirm(itemss.id)" >
              <ion-icon name="trash"  color="primary"></ion-icon>
            </button>

          </ion-row>
        </div>




      </ion-item>












    </ion-list>


  </div>


</ion-content>
