page-shopdet {

}



.card-titlees {
  position: absolute;
  top:1%;
  z-index: 1;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
}


.card-titlee {
  position: absolute;
  top:70%;
  z-index: 1;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.card-subtitlee {
  font-size: 0.7em;
  z-index: 1;
  position: absolute;
  text-align: center;
  top:80%;
  width: 100%;
  color: #fff;
}

.card-subtitlees {
  font-size: 0.7em;
  z-index: 1;
  position: absolute;
  text-align: center;
  top:32%;
  width: 100%;
  color: #fff;
}
