<!--
  Generated template for the ChatlistPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>


  <ion-list>
    <ion-item *ngFor="let item of Lastarray |orderBy :['-tid'] let i=index " (click)="gotochatbot(item.user,item.image,item.email)">

     <ion-row>
       <ion-col width-10>
      <ion-avatar item-start>
        <img [src]='item.image'>
      </ion-avatar>
       </ion-col>
       <ion-col width-90>
      <h2 style="overflow:hidden;text-overflow: ellipsis;margin-left: 15px;">{{item.user}}</h2>

     <ion-row>
      <ion-col width-85>
       <p *ngIf="type==''?true:false" style="overflow:hidden;margin-left: 15px;text-overflow: ellipsis;" [innerHTML]="item.message"></p> <p *ngIf="item.email==recmail?true:false" style="color: #cb1b58">{{type}}</p>
      </ion-col>
       <p item-end style="font-size:7px;">{{item.time}}</p>
     </ion-row>
       </ion-col>
     </ion-row>
    </ion-item>
  </ion-list>


</ion-content>
<ion-footer>

</ion-footer>
