page-home {

}

.item3{
  height: 100px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(168,33,81,0.99);

}
.titlebartext{
  color: #eeebe8;
}
ion-content{
}

.specialitem{
  width: 20px;
  height: 20px;
  border-radius: 20px;
}


#flot{
  z-index:3;
}
 .sop{
   margin-left: 37px;

 }
 .header1{
   color: rgba(251,244,251,0.95);
 }
ion-title{
  color: #f4f4f4;
}
 ion-slides{
   height: 180px;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
    }
@-webkit-keyframes greenPulse {
  from { background-color: #4c9eee; }
  50% { background-color: #cb1b58;  }

  to { background-color: #4c9eee;  }
}

 .trans{
   width: 15px;
   height: 15px;

   -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}





.platform-ios .ty{
  align-items: flex-end;
}
.cardo{
  padding-left: 10px;
  padding-right: 10px;
    }






.card-titlees {
  position: absolute;
  top:1%;
  z-index: 1;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
}


.card-titlee {
  position: absolute;
  top:70%;
  z-index: 1;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
}






.card-titleee {
  position: absolute;
  top:70%;
  z-index: 1;
  font-size: 0.8em;
  text-align:center;
  width: 90%;
}

.card-subtitlee {
  font-size: 0.7em;
  z-index: 1;
  position: absolute;
  text-align: center;
  top:80%;
  width: 100%;
  color: #fff;
}

.card-subtitlees {
  font-size: 0.7em;
  z-index: 1;
  position: absolute;
  text-align: center;
  top:32%;
  width: 100%;
  color: #fff;
}
.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}
#container {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  background: #45453f;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
}

.dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
