page-wendor {

  .card-title {
    text-align: center;
    font-size: 1.2em;
    word-wrap: break-word;
    width: 100%;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    color: #cb1b58;
  }
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .card-subtitle {
    text-align: center;
    font-size: 1.0em;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    width: 100%;
    color: #cb1b58;
  }

  .scroll-content{
    padding-left: 0%;
    padding-right: 0%;
  }
  .indi{
    width: 20px;
    height: 20px;
    border-radius:2px;
  }
}
