<!--
  Generated template for the Wallet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<div style="height: 200px; padding-top: 200px;padding-left: 60px;padding-right:70px;" *ngIf="open">

  <ion-navbar style="padding-left:8px;">


    <ion-buttons >

      <button  [navPush]="shopopen" ion-button icon-right   block outline   >Open your shop Here.. </button>
    </ion-buttons>
  </ion-navbar>

</div>



<ion-content style="padding: 0px; " *ngIf="showThis" fullscreen>



  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <img [src]="wendor.profileimage" style="z-index: -2; position:fixed;-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))"/>
<!--
  <img style="width:70px;height:70px;border-radius:70px;position: absolute; margin-top:20%;left:40%;background-color:#862734;box-shadow: #862734; " [src]="wendor.profileimage" />
-->
  <ion-toggle color="primary" color="energized" style="padding-top:20px;padding-left:20px;position: absolute;" [checked]="wendor.status" (ionChange)="togglechage()"></ion-toggle>
  <ion-buttons  style="padding-top:30px;" end>

      <button ion-button icon-right="" clear small  (click)=" profilepc()" >
        <ion-icon name="ios-camera-outline"  color="action"></ion-icon>
      </button>
  </ion-buttons>
<div style="padding-right: 10px;padding-left:10px; ">
<ion-card style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;opacity: 1;margin-top: 70px;margin-bottom: 1px !important;padding-left:10px;padding-right: 10px;">
  <ion-card-content>

    <ion-fab right >
      <button ion-button icon-right clear small  (click)="openeditor()">
        <ion-icon name="md-create"  color="primary"></ion-icon>

      </button>
    </ion-fab>


    <p class="card-title">{{wendor.name}}</p>
    <p class="card-subtitle">{{wendor.address}}</p>

    <ion-row>
      <ion-col width-90>
        <p style="font-size: 0.9em;color: rgba(180,180,180,0.97);text-align: center;">{{wendor.catagory}}</p>
      </ion-col>
      <ion-row>
        <ion-icon name="people" style="color: rgba(168,33,88,0.97);"></ion-icon><p style="font-size: 0.7em;color: rgba(180,180,180,0.97);">{{wendor.visits}}</p>
      </ion-row>

    </ion-row>




  </ion-card-content>



</ion-card>

  <!--- contacts card -->


  <ion-card >



    <ion-card-content>


      <ion-fab right>
        <button ion-button icon-right clear small (click)="opencontact()">
          <ion-icon name="md-create"  color="primary"></ion-icon>

        </button>
      </ion-fab>

      <ion-row style="padding-top: 0px;padding-bottom: 0px;">

          <button ion-button icon-left clear small>
            <ion-icon name="ios-mail-outline"></ion-icon>
            <p>{{wendor.email}}</p>
          </button>
      </ion-row>
        <ion-row style="padding-top: 0px;padding-bottom: 0px;">
          <ion-col width-75>
          <button ion-button icon-left clear small >
            <ion-icon name="call"></ion-icon>
            <div>{{wendor.phone}}</div>
          </button>
          </ion-col>

          <ion-fab right *ngIf="wendor.status_phone==='true'?true:false">
            <button ion-button icon-right clear small (click)="togglechagephone()">
              <ion-icon name="eye-off"  color="primary"></ion-icon>
            </button>
          </ion-fab>

          <ion-fab right style="margin-right:23px;" *ngIf="wendor.status_phone==='true'?false:true">
            <button ion-button icon-right clear small (click)="togglechagephone()">
              <ion-icon name="eye"  color="primary"></ion-icon>
            </button>
          </ion-fab>


        </ion-row>

<!--
        <ion-row style="padding-top: 0px;padding-bottom: 0px;">
          <button ion-button icon-left clear small>
            <ion-icon name="logo-whatsapp"></ion-icon>
            <div>{{wendor.whatsapp}}</div>
          </button>
        </ion-row>
        -->


    </ion-card-content>

  </ion-card>

  <!-- ion card contacts end -->


  <ion-card  style="padding-top: 0px">

   <ion-card-header style=" padding-top: 0px" >
     <ion-row>
     <ion-col width-50>
     <h2 style="color:#cb1b58;">Discription</h2>
     </ion-col>

    <ion-fab right>
      <button ion-button icon-right clear small (click)="opendiscription()">
        <ion-icon name="md-create"  color="primary"></ion-icon>
      </button>
    </ion-fab>

       <ion-fab right style="margin-right: 30px;">
         <button ion-button icon-right clear small (click)="openbarcode()" >
           <ion-icon name="barcode"  color="primary"></ion-icon>
         </button>
       </ion-fab>
       <ion-fab right style="margin-right: 60px;">
         <button ion-button icon-right clear small (click)="placeedit()" >
           <ion-icon name="pin"  color="primary"></ion-icon>
         </button>
       </ion-fab>

     </ion-row>
   </ion-card-header>

    <div style="width: 100%;height: 1px;background:#cb1b58; "></div>

    <ion-card-content>

    <p style="text-align:justify;padding-top: 10px;">{{wendor.discription}}</p>
    </ion-card-content>

  </ion-card>


</div>

<!--- item -->

  <ion-card style="padding-top: 0px"*ngFor="let itemo of wendor.item | orderBy :['-itemno']" >

    <ion-card-header style="padding-top:3px">
      <ion-row no-padding>
        <ion-col width-50 no-padding>
          <h2 style="color:#cb1b58;"><b>{{itemo.itemname}}</b></h2>
          <h6 style="color:rgba(68,48,66,0.53);font-size:10px;">{{itemo.itemno}}</h6>
        </ion-col>
          <ion-fab right>
            <button ion-button icon-right clear small (click)="openMenu(itemo.id,itemo.itemname,itemo.itemno,itemo.discription,itemo.price)">
              <ion-icon name="md-more"  color="primary"></ion-icon>
            </button>
          </ion-fab>

      </ion-row>
    </ion-card-header>

    <div style="width: 100%;height: 1px;background:rgba(203,27,88,0.53); "></div>
    <ion-slides   style="width: 100%;height: 100%;padding: 0px;"  loop="true" paginationType="fraction" pager="true" autoplay="2000" loop="true" zoom="true" >
      <ion-slide *ngFor="let imgi of itemo.image; let i=index">
        <img [src]="imgi.location"/>

      </ion-slide>


    </ion-slides>

    <div style="width: 100%;height: 1px;background:rgba(203,27,88,0.53);"></div>




    <ion-card-content>


      <ion-row no-padding>
        <ion-col col-10>

          <button ion-button icon-left clear small  >
            <ion-icon name="pricetag"></ion-icon>
            <p>Price:-</p>
          </button>
        </ion-col>
        <div ><p style="text-align:justify;color: #a82158;font-size: large;"><b>{{itemo.price}}</b></p></div>

      </ion-row>

      <div style="width: 100%;height: 1px;background:rgba(203,27,88,0.53); "></div>
      <p style="text-align:justify;color:rgba(9,2,5,0.68);font-family: Arial, Helvetica, sans-serif; ">{{itemo.discription}}</p>


    </ion-card-content>
  </ion-card>





  <ion-fab right bottom >
    <button ion-fab   color="primary"(click)="additem()"><ion-icon name="add" color="action"></ion-icon></button>

  </ion-fab>


</ion-content>
