
<ion-header >

    <ion-navbar >

      <ion-buttons end>
        <button ion-button icon-only  (click)="showAddressModal()" >

          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>




    </ion-navbar>


  </ion-header>




<ion-content no-padding="true"  style="background: #f0f0f0;" >





  <div>

    <ion-slides  style="width: 100%;height:200px;padding:0px;"  #mySlider autoplay="2000" loop="true" >

      <ion-slide     *ngFor="let items of _fitadd let i=index" (click)="goto(items.email)" >
        <img [src]="items.profileimage"  style="width: 100%;height: 73%;"  />
        <div style="width: 100%;height: 30%;background-color: rgba(3,0,3,0.41);margin-top:0%;" class="card-titlee"></div>
        <p class="card-titlee">{{items.name}}</p>
        <p class="card-subtitlee">{{items.catagory}}</p>
      </ion-slide>
      <ion-slide *ngIf="slidee">

        <img src="assets/icon/vaioti_32_pink.svg"  style="height:60px; width:60px;"/>
        <h1>VAIOTI</h1>
      </ion-slide>

    </ion-slides>
  </div>


  <div style="width: 100%;background-color: #cb1b58;height: 160px;position: relative;text-align: center;margin-top: 2px;">


    <p  class="card-titlees"   >{{address}}</p>
    <p  class="card-subtitleesee"   >{{lati}},{{long}}</p>


  </div>












  <ion-buttons right>

    <button ion-button round  outline style="height:20px;width:40px; " (click)="gotomore()"> More</button>
  </ion-buttons>




  <ion-grid no-padding>
    <ion-row wrap  style="padding-right: 1px;">

      <ion-col width-50  (click)="goto(item.email)" *ngFor="let item of _fitdata" style="height:175px;width: 100px;background: #f0f0f0; position: relative;text-align: center;" >

        <img [src]="item.profileimage" style="height:100%;width: 100%;z-index: -2;"/>

        <div style="width: 100%;height: 30%;background-color: rgba(3,0,3,0.41);margin-top:0%;" class="card-titlee"></div>

        <ion-icon name="star" color={{item.rate}}  class="card-titleee" style="margin-right: 12px;" *ngIf="item.rate ==null?false:true" ></ion-icon>
        <div [hidden]="item.status==='true'?false:true" style="width:8px; height:8px;border-radius:8px;background: #39ff82;margin-top:2%;margin-left:85%; " class="card-titlee" end></div>

        <p class="card-titlee"> {{item.name}} </p>
        <p class="card-subtitlee">{{item.catagory}}</p>



      </ion-col>





    </ion-row>
  </ion-grid>












</ion-content>
